# [mysql]和[mysqld]在configparser模块中叫sections
# password等在configparser模块中都叫options,options属于sections

[mysql]
user=root
password = 123

[mysqld]
character-server-set=utf-8
port=3306
x=True
y=1.3

